@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins&display=swap');
@import url('normalize.css');
@import url('navigation.css');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.75;
}

main {
    position: relative;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

p {
    margin: 0 0 24px
}

h1,
h2,
h3 {
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 1;
    color: #3F3D56;
    margin: 0 0 24px;
    overflow-wrap: break-word;
    hyphens: auto;
}

h1 {
    font-size: 3.25rem;
}

h2 {
    font-size: 2.625rem;
}

section {
    position: relative;
}

.container {
    width: 1320px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
}

.section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.section-margin {
    margin-top: 80px;
}

.section-content {
    flex: 1 1 384px;
    position: relative;
}

.section-img {
    flex: 1 1 384px;
    position: relative;
    text-align: center;
}

.svg-separator {
    display: block;
    width: 100%;
    height: auto;
}

p.standout {
    font-size: 1.3rem;
}

p.note {
    color: #555;
}

.btn-cta {
    background-color: #3F3D56;
    border: none;
    padding: 24px 24px;
    border-radius: 16px;
    color: #fff;
    box-shadow: 4px 4px 0 #ff6584;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-cta:hover,
.btn-cta:focus {
    transform: translate(-4px, -4px);
    box-shadow: 8px 8px 0 #1cc5aa;
}

.btn-cta:active {
    transform: translate(4px, 4px);
    box-shadow: 4px 4px 0 #ff6584;
}

.background-wrap {
    position: relative;
}

#back-to-top {
    position: fixed;
    right: 16px;
    bottom: 16px;
    background-color: #f9f9f9;
    border: solid 1px #3F3D56;
    border-radius: 16px;
    padding: 8px 12px;
    z-index: 200;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

#back-to-top svg {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#back-to-top:hover {
    transform: translateY(-5px);
}

#back-to-top:hover svg {
    transform: translateY(-3px);
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.625rem;
    }

    h2 {
        font-size: 2.25rem;
    }
}

/* ----------------------------
            header
---------------------------- */

header.section,
#set-goals.section {
    flex-wrap: wrap-reverse;
}

/* ----------------------------
    #getting-started
---------------------------- */

#getting-started .background-wrap {
    background-color: #F9F9F9;
}

#blob {
    width: 90%;
}

#getting-started .card {
    position: absolute;
    background-color: #fff;
    display: inline-block;
    border-radius: 16px;
    padding: 10% 16px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    width: 40%;
    text-align: center;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

#getting-started .card:nth-of-type(1) {
    top: 5%;
    left: 8%;
    transform: rotate(3deg);
    z-index: 20;
}

#getting-started .card:nth-of-type(2) {
    top: 15%;
    left: 45%;
    transform: rotate(-5deg);
    z-index: 10;
}

#getting-started .card:nth-of-type(3) {
    top: 25%;
    left: 25%;
    transform: rotate(2deg);
    z-index: 30;
}

#getting-started .card:hover {
    z-index: 100;
    transform: translateY(-20px);

}




/* ----------------------------
        #set_goals
---------------------------- */

#set-goals ul {
    list-style: none;
    padding-left: 0;
}

#set-goals ul li {
    display: flex;
    align-items: center;
}

#set-goals li+li {
    margin-top: 16px
}

#set-goals li svg {
    margin-right: 16px;
}

#set-goals .section-img {
    text-align: center;
}

/* ----------------------------
        #build-something
---------------------------- */


#build-something .background-wrap {
    background-color: #FFF5E0;
    text-align: center;
}

#build-something .section {
    flex-direction: column;
    z-index: 10;
}

#build-something img[alt="Stars"] {
    position: absolute;
    right: 16px;
    top: 10%;
    z-index: 0;
}

#getting-started .background-wrap::before,
#build-something .background-wrap::before,
footer::before {
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    top: -1px;
    left: 0;
    background-color: inherit;
    z-index: -1;
}

/* ----------------------------
            footer
---------------------------- */

footer {
    background-color: #3F3D56;
    color: #fff;
    font-size: 16px;
    padding: 1px;
    position: relative;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
}

footer ul li {
    display: inline-block;
}

.top-footer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 16px;
    padding-top: 24px;
}

.top-footer>* {
    flex: 1 1 300px;
}

.bottom-footer {
    border-top: solid 1px #666;
    color: #eee;
    font-size: 14px;
    padding-top: 24px;
    text-align: center;
}


/* ------------------
        Utils 
-------------------- */

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.slide-right-group > *, 
.slide-left-group > *, 
.slide-up-group > * {
    opacity:1;
    transition:all 0.7s cubic-bezier(.25, .8, .25, 1);
    transform: translate(0,0);
}

.slide-right-group.hidden > * {
    transform:translateX(-70px) !important;
    opacity:0;
}

.slide-left-group.hidden > * {
    transform:translateX(70px) !important;
    opacity:0;
}

.slide-up-group.hidden > * {
    transform:translateY(70px) !important;
    opacity:0;
}
